{% extends '/__main.jinja' %}

{% block content %}
    <section>
        <h2>B2B Phone</h2>
        <h3>We are company working on a B2B model, providing phones to bussinesses for further sale.</h3>
        <h3>To browse our products and prices, please <a href="{{url_for('auth.sign_in')}}"> sign in.</a></h3>
    </section>
{% endblock%}